@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');  
@import url(https://db.onlinewebfonts.com/c/3fc5c57cfac020b6611b4b2a985671b0?family=Product+Sans+Black);
// :root {
//   // --font-base: "DM Sans", sans-serif;
//   --font-base: "Google Sans", sans-serif;

//   // --primary-color: #0047c6;
//   --primary-color: #0252cd;
//   // --primary-color: #3d81ff;
//   --secondary-color: #397ffd;
//   --black-color: #030303;
//   --lightGray-color: #e4e4e4;
//   --gray-color: #6b7688;
//   --brown-color: #46364a;
//   --white-color: #ffffff;
//   --bg-primary-color:#171e2c;
//   --bg-secondary-color:#131b27;
//   --bg-light-primary-color:#eff5fd;
//   --light-white-color:#eff5fd;
// }

:root {
  --font-base: "DM Sans", sans-serif;
  // --font-base: "Google Sans", sans-serif;

  // --primary-color: #0047c6;
  --primary-color: #428dff;
  // --primary-color: #3d81ff;
  --secondary-color: rgb(66, 141, 255);
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --bg-primary-color:#1d283b;
  --bg-primary-color:#192333;
  --bg-secondary-color:#151e2c;
  --bg-light-primary-color:#eff5fd;
  --nextui-background:0 0% 0%;
  // --tw-border-opacity:1;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
  // font-family: var(--font-base);

  // color: #fff;
  // font-family: 'DM Sans', sans-serif;
  // font-family: 'Product Sans Black', sans-serif;
}


body{
  width: 100%;
  // min-width: -moz-fit-content;
  // min-width: -webkit-fill-available;
  min-width: fit-content;
  scroll-behavior: smooth;

}


// @media not all and (min-width: 640px) {
//   body {
//       overflow-y: scroll;
//   }
// }

.appWrapper{
  // width: 100%;
  min-width: fit-content;

}

.appWrapper:nth-child(even){
  background-color:  var(--bg-primary-color);
}

.appWrapper:nth-child(odd){
  background-color:  var(--bg-secondary-color);
}

// body:nth-of-type(even){
// }

// body:nth-of-type(odd){
//   background-color: var(--bg-secondary-color);
// }

::-webkit-scrollbar{
  display: none;
}


// .app:nth-child(2) {
//   background-color: var(--bg-primary-color);
// }
// .app:nth-child(1) {
//   background-color: var(--bg-secondary-color);
// }

// .app__whitebg {
//   background-color: var(--white-color);
// }

// .app__primarybg {
//   background-color: var(--primary-color);
// }

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--white-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}



// tooltip

[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1.5;
  font-size: .8em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  box-shadow: -3px 5px 20px 5px rgba(0,0,0,0.13);
  -webkit-box-shadow: -3px 5px 20px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: -3px 5px 20px 5px rgba(0,0,0,0.13);
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 4em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 10px;
  border-radius: 9px;
  background: #1d283b;
  color: #FFFFFF;
  z-index: 99;
  border:  1px solid #343e4f;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: 303947;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
          transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: 303947;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: 303947;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: 303947;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
          transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
          transform: translate(8px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}

